.App {
  text-align: center;
}

body {
  background: #222;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.buildorderstep-icon {
  background-image: url('/icons.png');
  color: transparent;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
.buildOrder {
  padding-top: 106px;
}
.flex {
  display: flex;
  align-items: center;
}

.buildorder-header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: #222;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
  flex-wrap: wrap;
  border-bottom: ridge 2px #333;

  .flex {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.2em;
  }

  .buildorder-name {
    flex-grow: 1;
    text-align: left;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background: black;
    margin-right: 0.5em;
    padding: 0.2em;
    border: ridge 3px #333;
  }

  .resources {
    flex-grow: 1;
    justify-content: space-between;
  }

  .time {
    margin-left: 0.5em;
  }

  .time-display {
    padding: 0.4em 0;
    background: black;
    margin-right: 0.5em;
    color: white;
    border: ridge #333 3px;
    width: 70px;
    text-align: center;
  }

  .resources .buildorderstep-icon {border: ridge 3px #333;}

  .control {
    border: outset 3px #333;
  }

  .resources {
    display: flex;
  }

  .time {
    display: flex;
    align-items: center;
  }

  .control {
    width: 36px;
    height: 36px;
    background: black;
    color: white;
    flex-shrink: 0;
    line-height: 36px;
    border-radius: 2px;
    cursor: pointer;
  }

  .buildorderstep-icon {
    background-size: 1650%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    margin: 0;
    position: relative;
    label {
      position: absolute;
      bottom: -1px;
      right: -1px;
      color: white;
      font-size: 10px;
      font-weight: bold;
      width: 12px;
      text-align: right;
    }
  }
}
.buildorder-step-wrap {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  .buildorderstep {
    display: flex;
    flex-direction: row;
    padding: 1em 2em;
    border: solid 1px black;
    align-items: center;
    background: black;
    color: #eee;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position:relative;
    label.end-time {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      font-size: 0.6em;
      font-weight: normal;
      color: #666;
    }
  }
}
.buildorderstep svg.fa-caret-right {
  font-size: 30px;
}
.buildorderstep > * {
  margin-right: 10px;
}
.buildorderstep.research {
  justify-content: space-around;
}
.buildorderstep > *:last-child {
  margin-right: 0;
}
.buildorderstep span.number {
  min-width: 50px;
  text-align: center;
}
.time-display input {
  background: none;
  width: 1.5em;
  border: none;
  color: white;
  font-size: 1em;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display:none;
    -webkit-appearance: none;
    margin: 0;
  }
}

.time-display input:first-child {
  text-align: right;
}
.buildorderstep-icon {
  margin-right: 13px;
  width: 50px;
  height: 50px;
  border: solid black;
  flex-shrink: 0;
  position: relative;
  label {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .icon-text {
    display: none;
  }
}

.buildorder-tracker {
  position: absolute;
  top: 427px;
  color: red;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -12px;
  transition: top 0.3s;

  .line {
    flex-grow: 1;
    border: solid 2px red;
    height: 0px;
    border-radius: 100px;
  }

  svg {
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 1.3em;
  }

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
