.App {
  text-align: center;
}

body {
  background: #222;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.buildorder-list {
  flex-grow: 1;
}

.control {
  width: 40px;
  height: 40px;
  background: black;
  color: white;
  flex-shrink: 0;
  line-height: 40px;
  cursor: pointer;
  font-size: 23px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.game-content-useage-notice {
  font-size: 0.6em;
  color: white;
  text-align: center;
  padding: 0.5em 1em;
}

.game-content-useage-notice a {
  color: white;
}

.buildorderstep-icon {
  background-image: url('/icons.png');
  color: transparent;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
.buildOrder {
  padding-top: 106px;
}
.flex {
  display: flex;
  align-items: center;
}
.add-step, .upload-build {
  background: none;
  border: none;
  background: black;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  width: 100%;
  color: white;
  font-size: 1.3em;
   svg {
     margin-right: 1em;
   }
}
.edit-buildOrder {
  .buildorder-step-wrap {
    display: flex;
    width: 100%;
    background: black;
    padding: 0;
    margin: 0.5em 0;
    justify-content: space-between;
    .buildorderstep {
      padding: 1em 0;
    }
  }

  .controls {
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .controls svg {
    font-size: 1.6em;
    padding: 0.2em;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }

  .buildorderstep {
    flex-grow: 1;
  }
}
.edit-header {
  background: black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;

  input {
    max-width: 70vw;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    flex-grow: 1;
    font-size: 1.2em;
    font-weight: bold;
    justify-self: flex-end;
    min-width: 0;
  }
  svg.svg-inline--fa.fa-check.fa-w-16 {
    font-size: 1.5em;
    color: white;
    margin-left: 0.5em;
  }
}
.select-icon {

  position: fixed;
  padding: 0.5em;
  background: #222;
  z-index: 1;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10vh;
  left: 50%;
  margin-left: -36px;
  .buildorderstep-icon {
    margin-right: 0;
  }
}
.select-icon-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  z-index: 10;
}

.buildorder-header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: black;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
  flex-wrap: wrap;
  border-bottom: solid 0.5em #222;
  > .flex > .buildorderstep-icon {
    margin-right: 4px;
  }
  .flex {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.2em;
  }

  .buildorder-name {
    flex-grow: 1;
    text-align: left;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background: black;
    margin-right: 10px;
    padding: 0.2em;
  }

  .resources {
    flex-grow: 1;
    justify-content: space-between;
  }

  .time {
    margin-left: 0.5em;
  }

  .time-display {
    padding: 0.4em 0;
    background: black;
    margin-right: 10px;
    color: white;
    border: ridge #333 3px;
    width: 70px;
    text-align: center;
  }

  .resources .buildorderstep-icon {border: ridge 3px #333;}


  .resources {
    display: flex;
  }

  .time {
    display: flex;
    align-items: center;
  }
  .buildorderstep-icon {
    background-size: 1900%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    margin: 0;
    position: relative;
    label {
      position: absolute;
      bottom: -1px;
      right: 0px;
      color: white;
      font-size: 10px;
      font-weight: bold;
      width: 12px;
      text-align: right;
    }
  }
}
.buildorder-step-wrap {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  .buildorderstep {
    padding: 1em 2em;
    border: solid 1px black;
    background: black;
    color: #eee;
    font-size: 18px;
    font-weight: bold;
    position:relative;
    label.end-time {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      font-size: 0.6em;
      font-weight: normal;
      color: #666;
    }
    .sub-steps {
      border-top: dashed #666 4px;
      margin-top: 1em;
    }
    .step-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      > * {
        margin-right: 10px;
      }
      > *:last-child {
        margin-right: 0;
      }
      span.number {
        min-width: 50px;
        text-align: center;
      }
    }
    .buildorderstep {
      transform: scale(0.66);
      box-sizing: border-box;
      height: 60px;
      width: calc(100% * 3 / 2);
      margin-left: -25%;
    }

    .buildorderstep .end-time {
      display: none;
    }

  }
}
.buildorderstep svg.fa-caret-right {
  font-size: 30px;
}
.buildorderstep.research .step-info {
  justify-content: space-around;
}
.time-display input {
  background: none;
  width: 1.5em;
  border: none;
  color: white;
  font-size: 1em;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display:none;
    -webkit-appearance: none;
    margin: 0;
  }
}

.time-display input:first-child {
  text-align: right;
}
.buildorderstep-icon {
  margin-right: 13px;
  width: 50px;
  height: 50px;
  border: solid black;
  flex-shrink: 0;
  position: relative;
  label {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .icon-text {
    display: none;
  }
}

.buildorder-tracker {
  position: absolute;
  top: 427px;
  color: red;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -12px;
  transition: top 0.3s;

  .line {
    flex-grow: 1;
    border: solid 2px red;
    height: 0px;
    border-radius: 100px;
  }

  svg {
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 1.3em;
  }

}
.buildorder.list-item {
  background: black;
  /* display: block; */
  margin-bottom: 0.5em;
  color: white;
  display: flex;
  font-size: 1.2em;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.5em;
  height: 1.7em;
  .control {
    margin-left: 1em;
    font-size: 1em;
  }
  label {
    width: 80vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.buildorder.list-item .buildorderstep-icon {
  margin-right: 1em;
  transform: scale(0.6);
}

.buildorder-list {
  color: white;
  h1 {
    background: black;
    margin: 0;
    padding: 1em;
    margin-bottom: 0.3em;
  }
  > button {
    background: black;
    border: none;
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 1.3em;
    height: 51.8px;
    display: flex;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 1em;
    }
  }

}

.bmc-btn svg {
  height: 30px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
  transform: scale(0.9);
}

.bmc-btn {
  color: #fff;
  background-color: #000000 !important;
  height: 60px;
  border-radius: 12px;
  font-size: 26px;
  border: none;
  padding: 0px 24px;
  line-height: 27px;
  text-decoration: none !important;
  display: inline-flex !important;
  align-items: center;
  font-family: 'Cookie', cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  margin: 0.5em 1em;
  min-height: 2em;
}

.bmc-btn:hover, .bmc-btn:active, .bmc-btn:focus {
  text-decoration: none !important;
  cursor: pointer;
}

.bmc-btn{
  .bmc-btn-text {
    margin-left: 18px;
    display: inline;
    line-height: 0;
  }

  .logo-outline {
    fill: #fff;
  }

  .logo-coffee {
    fill: #fd0;
  }
}
.menu {
  position: absolute;
  top: 50px;
  right: 10px;
  background: #222;
  padding: 0.5em 1em;
  z-index: 1;
  .menu-item {
    width: 60vw;
    display: flex;
    align-items: center;
    padding-bottom: 0.5em;
  }

  .menu-item label {
    text-align: left;
    flex-grow: 1;
  }
}

.menu svg {
  margin-right: 1em;
}

.sortable-ghost {
  opacity: 0.2;
}
.sortable-chosen {
  border: solid 2px white;
}
.edit-buildOrder .buildorder-step-wrap {
  flex-direction: column;
  color: white;
}
.buildorderstep-icon.nothing {background-image: none;background: #222;}

.buildorder-step-wrap.substep {
  > div:first-child {
    background: #222;
    .buildorderstep {
      background: black;
      transform: scale(0.9);
    }
  }
}
.buildorder-step-edit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .buildorder-step-edit {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .rc-select.rc-select-single.rc-select-show-arrow {
    width: 100%;
  }

  .property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0.5em;
    .edit-buildorderstep-icon .buildorderstep-icon {
      margin-right: 0;
    }
    input {
      background-color: #333;
      border: none;
      padding: 0.5em 1em;
      flex-grow: 1;
      color: white;
      font-size: 1em;
      text-align: right;
      min-width: 0;
    }
    label {
      margin-right: 1em;
      text-transform: capitalize;
      width: 130px;
      text-align: left;

      &:after {
        content: ":";
      }
    }


    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
  }
  button {
    width: 100%;
    background: #222;
    border: none;
    padding: 0.5em 1em;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;

    svg {
      margin-left: 0.5em;
    }
  }

  > * {
    margin-bottom: 0.5em;
  }
  .rc-select.rc-select-single.rc-select-show-arrow {
    background: #222;
    width: 100%;
    position: relative;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    font-size: 1.4em;
    align-items: center;
    border-top: solid 4px black;
  }

  span.rc-select-arrow-icon:after {content: "▶";font-size: 1em;margin-right: 0.7em;}

  .rc-select-open span.rc-select-arrow-icon:after {content: "▼";}

}
.rc-select-dropdown {
  background: #222;
  color: white;

  &.rc-select-dropdown-hidden {
    display: none;
  }


  .rc-select-item-option-content {
    padding: 0.5em 1em;
  }

  .rc-select-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span.rc-select-item-option-state {
    display: none;
  }

  .rc-select-item.rc-select-item-option-selected {
    background: #555;
  }
}
.rc-select{
  span.rc-select-selection-search {
    display: none;
  }

  .rc-select-selector {
    width: 100%;
    padding: 0.5em 1em;
  }
}
